


<mat-toolbar color="warn">
  <a class="docs-navbar-hide-small docs-button mat-button ng-star-inserted" mat-button="" tabindex="0" aria-disabled="false" href="/">
      <img  alt="railway enquiry" class="docs-angular-logo" src="../../assets/logo1.PNG" style="width:12vw"> 
    <!-- <span class="mat-button-wrapper" style="font-size:25px">Railway Enquiry</span> -->
    <div class="mat-button-ripple mat-ripple" matripple=""></div>
    <div class="mat-button-focus-overlay"></div>
  </a> 

  <!-- This fills the remaining space of the current row -->
   <span class="example-fill-remaining-space"></span> 
  <a class="docs-navbar-hide-small docs-button mat-button ng-star-inserted" mat-button="" tabindex="0" aria-disabled="false" href="/pnr">
     <span class="mat-button-wrapper" style="font-size:15px;font-weight:bold">PNR STATUS</span> 
    <div class="mat-button-ripple mat-ripple" matripple=""></div>
    <div class="mat-button-focus-overlay"></div>
  </a> 
  <a class="docs-navbar-hide-small docs-button mat-button ng-star-inserted" mat-button="" tabindex="0" aria-disabled="false" href="/live-status">
     <span class="mat-button-wrapper" style="font-size:15px;font-weight:bold">LIVE STATUS</span> 
    <div class="mat-button-ripple mat-ripple" matripple=""></div>
    <div class="mat-button-focus-overlay"></div>
  </a> 
  <a class="docs-navbar-hide-small docs-button mat-button ng-star-inserted" mat-button="" tabindex="0" aria-disabled="false" href="/train-schedule">
     <span class="mat-button-wrapper" style="font-size:15px;font-weight:bold">TRAIN SCHEDULE</span> 
    <div class="mat-button-ripple mat-ripple" matripple=""></div>
    <div class="mat-button-focus-overlay"></div>
  </a> 
    <!-- <a class="docs-navbar-hide-small docs-button mat-button ng-star-inserted" mat-button="" tabindex="0" aria-disabled="false" href="/seat-availability">
     <span class="mat-button-wrapper" style="font-size:15px;font-weight:bold">SEAT AVAILABILITY</span>
    <div class="mat-button-ripple mat-ripple" matripple=""></div>
    <div class="mat-button-focus-overlay"></div>
  </a>  -->
  
 </mat-toolbar>   