@media only screen and (max-width: 767px) {
.date_buttons{
    margin-bottom:10px;
}
}
 
.date_buttons{
    margin-left:20px;
    border-radius: 20px;
    
}
.date_buttons:focus{
    background-color: black;
}

.new_date_button{
    margin-right: 10px;
}
.verticalbar2{
   width: 10px; 
   height: 100px; 
   background-color:none;
   border: 1px solid #000;
   border-bottom-color: transparent;
  
}
.verticalbar1{
   width: 10px; 
   height: 100px; 
   background-color:black;
   border: 1px solid #000;
   /* border-bottom-color: transparent; */
}
.verticalbar_position{
   width: 10px; 
   height: 100px; 
   background: linear-gradient(to bottom, black 50%, white 50%);
   border: 1px solid #000;
   /* border-bottom-color: transparent; */
}

.verticalbar_source{
        border-radius: 20px 20px 0 0;
}
.verticalbar_dest{
    border-radius: 0 0 20px 20px;
}
.colorRed{
    color:red;
}
.colorGreen{
    color:green;
}

.ripple{
    margin-top: 32px;
    margin-left: -18px;
    height: 35px;
    position: absolute;
    z-index: 100;
}
.mat-card {
    padding: 10px 16px;
}
  /* .mat-column-sss {
  width: 10px;
}   */