/* .main_container{
    box-shadow: 2px 2px 20px #000;
    padding:40px;
     margin-top: 50px;
     min-height: 300px;
} */

.example-full-width{
    width: 40%;
}

.mat-header-cell {
    color: rgb(5, 3, 1);
}
.mat-header-cell {
    font-size: 15px;
    font-weight: 600;
}

/* .div_border{
    border: 2px solid black;
    box-shadow: 2px 2px 20px #000;
} */

.example-card1{
    text-align: center;
    /* width: 20%; */
    width: auto;
    margin-right: 2vw;
    display: inline-block;
    font-weight:bold;
}

.div1{
margin-top: 6vh;
float:left;
width:60%;
overflow:hidden;
margin-left: 10vw;
}
.div2{
margin-top: 15vh;
float:right;
width:25%;
overflow: hidden;
} 
.main_container{

     padding:40px;
     margin-top: 100px;
      /* background: rgba(19, 18, 18, 0.726);   */
    /* color: white; */
     background-size: cover;
    background-repeat: no-repeat;
    border: none;
    border-radius: 20px;
}

.bold{
    font-size: 16px;
    font-weight: bold;
}
.width{
    width: 50%
}

.getPNRStatusButton{
     background-color: #c20303;
    border-radius:5px;
    /* margin-top:20px; */

    /* border: none; */

    border: none !important;
    padding: 7px 23px;
    color: white;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
    outline: none !important;
    box-shadow: none;
    margin-bottom: 5px;
    display: inline-block;
}
.getPNRStatusButton:hover, .getPNRStatusButton:active{
    background-color: black;
         outline: none !important;
   box-shadow: none;

}

.getPNRStatusButton:focus { outline: none; }

.table_border{
    box-shadow: 2px 2px 20px #000;
    padding: 20px 10px;
}
th{
    text-align: right;
    padding: 0.50rem;
}
td{
    text-align: left;
    padding: 0.50rem;
}
table{
    font-size: 13px;
}

 .passenger_table{
  width: auto; 
  background-color: #d3cdcd;
  /* border: 1px solid yellow; */
  border-radius: 0 10px;
  display: inline-block;
  margin-right:10px;
} 
/* .borderless> tr, td, th {
      border: none;  
} */
.red_font{
    color: red;
}

ol {
    counter-reset: item;
}
ol li { display: block }

ol li:before {
    content: counter(item) ". ";
    counter-increment: item;
    font-weight: bold;
}

@media only screen and (max-width: 576px) {
.center {
    text-align: center;
}

.btn {
    margin-top:10px;
border: 2px solid yellow;
}
}
 
