body{
    background: url("../../assets/train5.jpg"); 
     /* height:734px;  */
    background-size: cover;
    background-repeat: no-repeat;
    /* background-image: url(" https://www.wallpaperup.com/uploads/wallpapers/2013/08/20/136797/cae25dd3607cc9b121fd3ab51c393b00-700.jpg"); */
   
}

.main_div{
 /* background: url("../../assets/train5.jpg");    */
    padding:40px;
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    border: none;
}

.pnr_div{
    margin-top:6vh;
}

.example-full-width{
    width: 40%;
}
/* 
.main_container{
    background: url("../../assets/train5.jpg");   
    padding:40px;
    min-height: 100vh;
      // background: rgba(19, 18, 18, 0.726);  
    color: white;
    background-size: cover;
    background-repeat: no-repeat;
    border: none;
} */

/* @media only screen and (max-width: 576px) {
.center {
    text-align: center;
}

.btn {
    margin-top:10px;
}
}
  */