 <div class="main_div">
    <div align="center" class="pnr_div">
        <form #myForm="ngForm"  (ngSubmit)="getPNR()">
            <mat-form-field class="example-full-width" > 
                    <input type="text"  pattern="[0-9]*" class="form-control" id=pnr name="pnrnumber" minlength="10" maxlength="10" #pnrNumber="ngModel" [(ngModel)]="pnrnumber.pnr" matInput placeholder="Enter PNR Number" required>  
            </mat-form-field>
            <button type="submit" mat-raised-button color="warn" >Get PNR Status</button>
            <div class="alert alert-danger" *ngIf="pnrNumber.touched && !pnrNumber.valid">
                      <div *ngIf="pnrNumber.errors.required">Enter PNR number</div>
                      <div *ngIf="pnrNumber.errors.minlength">PNR number should be 10 digits</div>
                      <div *ngIf="pnrNumber.errors.pattern">PNR number should be only numbers</div>
            </div>
         </form>
    </div>
 </div>
 
 
 
 

